@import url('https://fonts.googleapis.com/css?family=Gloock|Marcellus+SC|Bodoni+Moda|Poiret+One|La+Belle+Aurore|Jost:100,200,300,400,500,600|Italiana|Qwitcher+Grypen:400,700|Allura|Josefin+Sans:100,200,300,400,500,600|Playfair+Display+SC ');

/*Oswald|Marcellus|Bodoni+Moda|Italiana|Antic+Didone|Cormorant+SC|Noto+Serif+Display|Licorice|Meow+Script|Allura|Alex+Brush*/

:root {
    --main-text-color: rgba(58,60,59, 1);
    --highlight-color: rgba(58,60,59, 0.75);
    --floral-color: #FFFAF0;
    --snow-color: #FFFAFA;
    --brown-safe-color: #cc6600;
    --gray-color: #3A3C3B;
    --sepia-bg-color: rgba(239, 219, 203, 0.25);
    --pink-color: rgba(249, 204, 202, 0.25);
    --pampas-color: rgb(234, 235, 237);
}

@viewport{
    zoom: 1.0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
/*    background-repeat: repeat;
    background-size: 315px 315px;
    background-attachment: auto;
    background-image: url(assets/clean_textile.png);*/
    background-color: var(--pampas-color);
    overflow-x: hidden;
    height: auto;
    width: auto;
}

/************************/
/* Page load animations */
/************************/ 

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/******************/
/* Navigation bar */
/******************/

nav {
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    max-height: 512px;
    max-width: 256px;
    overflow: visible;
    padding: 0 30px 0 30px;
}

ul {
    font-family: Gloock, serif;
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 65%;
    text-align: left;
    white-space: nowrap;
    font-weight: 400;
    overflow: visible;
    padding: 0 0 0 20px;
    margin: 0;
/*    border: solid;*/
}


/*******************/
/* Text formatting */
/*******************/

.names {
    text-align: center;
    font-family: 'Aboreto', sans-serif;
    font-size: 4.5em;
    font-variant: small-caps;
    color: var(--teal-color);
    line-height: 0.9em;
    letter-spacing: 0.1em;
}

.names .et {
    font-family: 'Ms Madi', cursive;
    font-size: 0.5em;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    display: inline;
    vertical-align: middle;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
    line-height: 0.75em;
    text-decoration: none;
}

h2 {
    font-family: Gloock, sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: var(--main-text-color);
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: var(--main-text-color);
}

.party-name {
    font-family: 'Aboreto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--main-text-color);
    text-align: left;
}

.party-role {
    font-family: 'Ms Madi', cursive;
    font-size: 1.6em;
    color: var(--main-text-color);
    text-align: left;
    white-space: nowrap;
}

p, q {
    font-size: 1em;
    text-align: justify;
}

.text p {
    text-indent: 2em;
}

q:before { 
    content: open-quote;
} 

q:after { 
    content: close-quote;
}

a.hyperlink {
    color: var(--main-text-color);
    text-decoration: none;
}

a.external {
    color: var(--main-text-color);
    text-decoration-style: dashed;
    text-underline-offset: 4px;
}

a.hyperlink:hover, a.external:hover {
    color: var(--highlight-color);
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

::-moz-selection { /* Code for Firefox */
  color: var(--white-color);
  background: var(--teal-color);
}

::selection {
  color: var(--white-color);
  background: var(--teal-color);
}

/***************/
/* Splash page */
/***************/

#splash {
    display: flex;
    position: relative;
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    background-image: url('assets/oscar-helgstrand-oxEhuyAlqYk-unsplash.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center;
    position: relative;
    justify-content: center; /* Horizontally center the inner container */
    align-items: center;
}

#splash::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 235, 237, 0.6); /* Adjust the last value (0.5) to set the transparency */
    z-index: 1; /* Make sure the pseudo-element is above the background image */
}

#splash-container {
    text-align: center;
    background-color: transparent;
    width: 256px;
    height: 256px;
    position: absolute;
    z-index:2;
}

#splash-text {
    text-align: center;
    font-size: 4.7em;
    line-height: 0.8em;
    position: absolute;
}

#splash-date {
    text-align: center;
    font-size: 1.5em;
    line-height: 0.9em;
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index:2;
}

#splash-image {
    display: block;
    margin: 0 auto;
    height: 360px;
    width: 360px;
}

@media (max-width: 768px) {
    #splash {
        width: 100vw;
    }
}

/************/
/* Sections */
/************/

#portraits {
    position: fixed;
    width: 50vw;
    height: 100vh;
    margin-right: auto;
    padding: 5%;
    background-image: url("assets/shoot/DSC07886.jpeg");
    background-size: cover;
    background-position: center;  
}

.line-box {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.line-box hr.left {
    flex: 1;
    border: none;
    height: 1px;
    width: 80%;
    background-color: #000; /* You can customize the color */
    margin: 0 20px 0 0; /* Adjust the margin as needed */
}

.line-box hr.right {
    flex: 1;
    border: none;
    height: 1px;
    width: 80%;
    background-color: #000; /* You can customize the color */
    margin: 0 0 0 20px; /* Adjust the margin as needed */
}

.page {
    position: relative;
    width: 50vw;
    margin-left: auto;
    padding: 5%;
}

.text {
    padding: 0px 10% 20px 10%;
    text-align: left;
}

.float {
    padding: 0px 10% 20px 10%;
}

.icontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

#google-form {
    border: none;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    min-height: 150vh;
}

#engagement-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
    #portraits {
        display: none;
    }
    .page {
        width: 100%;
    }
}

/***************/
/* RSVP button */
/***************/

.button-container {
    text-align: center;
    width: 100%;
}

button {
    color: var(--main-text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--main-text-color);
    height: 4em;
    width: 8em;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    color: var(--pampas-color);
    background-color: var(--main-text-color);
}

button:active {
    color: var(--main-text-color);
    background-color: transparent;
}

/**********************/
/* Schedule of events */
/**********************/

.schedule {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
}

.schedule-time {
    font-family: Gloock, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--main-text-color);
    line-height: 2em;
    margin-right: 20px;

}
/******************/
/* Party profiles */
/******************/

.profiles {
    display: flex;
    padding: 0px 10% 20px 10%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
}

.groomsmen {
    flex-flow: row-reverse wrap;
}

.side-a {
    width: 50%;
    padding: 10px;

}

.side-b {
    width: 61.8%;
    padding: 0px 0px 0px 20px;
    text-align: left;

}

.groomsmen .side-b {
    padding: 0px 20px 0px 0px;
}

@media (max-width: 720px) {
    .side-a, .side-b {
        width: 100%;
    }
}

/**********/
/* Images */
/**********/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.inline {
    margin: 0px 30px 30px 0px;
    float: left;
    width: 40%;
    height: auto;
}

img.story {
    display: inline;
    width: 50%;
}

.divider {
    width: 80%;
    max-width: 768px;
    top: -20px;
}

@media (max-width: 720px) {
    img.framed {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .story {
        width: 100%;
    }
}

/*/////////*/
/* Gallery */
/*/////////*/

a.thumbnail, a.thumbnail:hover {
  text-decoration: none;
  background-color: unset;
  background: var(--main-bg-color);
  width: 100%;
}

img.thumbnail {
  width: 100%;
  transition: transform 2s, filter 0.1s ease-in-out;
}

img.thumbnail:hover {
  filter: opacity(70%);
}

a.lightbox, a.lightbox:hover {
  /** Default lightbox to hidden */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 200ms, visibility 200ms;
  transition: opacity 200ms, visibility 200ms;
  /** Position and style */
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

a.lightbox img {
  /** Pad the lightbox image */
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

a.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  visibility: visible;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.photo-column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.photo-column .responsive {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 720px) {
  .photo-column {
    flex: 100%;
    max-width: 100%;
  }
}

